Repository jamesgarzon/perficient-spa: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --quiet --fix, prettier --write, eslint --quiet --fix

.lintstagedrc:

{
  "*.scss": ["stylelint --quiet --fix", "prettier --write"],
  "*.{ts,html}": ["eslint --quiet --fix", "prettier --write"],
  "*.{js,json}": "prettier --write"
}

First commit
  .stylelintrc
  karma.conf.js
  package.json
  src/app/app.component.spec.ts
  src/app/app.module.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
  src/polyfills.ts
  src/test.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.spec.json
  yarn.lock
Due: prettier --write, eslint --quiet --fix

Add configuration
  .eslintrc.json
  .husky/pre-commit
  ngsw-config.json
  server.ts
  src/app/app.server.module.ts
  src/app/spartacus/features/asm/asm-feature.module.ts
  src/app/spartacus/features/cart/cart-import-export-feature.module.ts
  src/app/spartacus/features/cart/cart-quick-order-feature.module.ts
  src/app/spartacus/features/cart/cart-saved-cart-feature.module.ts
  src/app/spartacus/features/checkout/checkout-feature.module.ts
  src/app/spartacus/features/order/order-feature.module.ts
  src/app/spartacus/features/product/product-image-zoom-feature.module.ts
  src/app/spartacus/features/product/product-variants-feature.module.ts
  src/app/spartacus/features/smartedit/smart-edit-feature.module.ts
  src/app/spartacus/features/storefinder/store-finder-feature.module.ts
  src/app/spartacus/features/tracking/personalization-feature.module.ts
  src/app/spartacus/features/user/user-feature.module.ts
  src/app/spartacus/spartacus-configuration.module.ts
  src/app/spartacus/spartacus-features.module.ts
  src/app/spartacus/spartacus.module.ts
  src/assets/icons/icon-128x128.png
  src/assets/icons/icon-144x144.png
  src/assets/icons/icon-152x152.png
  src/assets/icons/icon-192x192.png
  src/assets/icons/icon-384x384.png
  src/assets/icons/icon-512x512.png
  src/assets/icons/icon-72x72.png
  src/assets/icons/icon-96x96.png
  src/main.server.ts
  src/manifest.webmanifest
  src/styles/spartacus/asm.scss
  src/styles/spartacus/cart.scss
  src/styles/spartacus/checkout.scss
  src/styles/spartacus/order.scss
  src/styles/spartacus/product.scss
  src/styles/spartacus/storefinder.scss
  src/styles/spartacus/user.scss
  tsconfig.server.json
Due: stylelint --quiet --fix, prettier --write, eslint --quiet --fix

Add i18n config
  src/app/spartacus/config/i18n.config.ts
  src/app/spartacus/spartacus-configuration.module.ts
  src/assets/i18n-assets/en/address.json
  src/assets/i18n-assets/en/cart.json
  src/assets/i18n-assets/en/common.json
  src/assets/i18n-assets/en/myAccount.json
  src/assets/i18n-assets/en/payment.json
  src/assets/i18n-assets/en/product.json
  src/assets/i18n-assets/en/pwa.json
  src/assets/i18n-assets/en/user.json
Due: prettier --write, eslint --quiet --fix

Add base URL config
  src/app/spartacus/spartacus-configuration.module.ts
  src/environments/environment.ts
  src/index.html
Due: prettier --write, eslint --quiet --fix

Add icons config
  package.json
  src/app/app.component.html
  src/app/spartacus/config/icon.config.ts
  src/app/spartacus/models/icons.model.ts
  src/app/spartacus/spartacus-configuration.module.ts
  src/assets/icons/icons-sprite.svg
  src/assets/svg/icon-lab.svg
  yarn.lock
Due: prettier --write, eslint --quiet --fix

Add layout config
  src/app/spartacus/config/layout-config.ts
  src/app/spartacus/spartacus-configuration.module.ts
Due: prettier --write, eslint --quiet --fix

Add multi-site config
  src/app/spartacus/spartacus-configuration.module.ts
Due: prettier --write, eslint --quiet --fix

Add media config
  src/app/spartacus/config/media.config.ts
  src/app/spartacus/spartacus-configuration.module.ts
Due: prettier --write, eslint --quiet --fix

Add media lazy config
  src/app/spartacus/config/media.config.ts
Due: prettier --write, eslint --quiet --fix

Add ssr/pwd config
  src/app/spartacus/config/pwa.config.ts
  src/app/spartacus/spartacus-configuration.module.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: prettier --write, eslint --quiet --fix

Context and custom params
  src/app/spartacus/spartacus-configuration.module.ts
Due: prettier --write, eslint --quiet --fix

- Add routing examples - modify product routes for SEO friendly - add paths on tsconfig.json
  package.json
  src/app/app.module.ts
  src/app/custom-routing/custom-routing.module.ts
  src/app/spartacus/config/index.ts
  src/app/spartacus/features/product/model/augumented-product.model.ts
  src/app/spartacus/features/product/model/index.ts
  src/app/spartacus/features/product/occ/adapters/converters/index.ts
  src/app/spartacus/features/product/occ/adapters/converters/prf-product-category-normalizer.service.ts
  src/app/spartacus/features/product/occ/adapters/converters/prf-product-name-normalizer.service.ts
  src/app/spartacus/features/product/occ/config/index.ts
  src/app/spartacus/features/product/occ/config/prf-endpoint-product.config.ts
  src/app/spartacus/features/product/occ/config/prf-product-routing.config.ts
  src/app/spartacus/features/product/occ/prf-product-occ.module.ts
  src/app/spartacus/features/product/prf-product.module.ts
  src/app/spartacus/spartacus-configuration.module.ts
  src/app/spartacus/spartacus-features.module.ts
  src/app/static-page/static-page.component.html
  src/app/static-page/static-page.component.scss
  src/app/static-page/static-page.component.spec.ts
  src/app/static-page/static-page.component.ts
  src/app/utils/url-utils.ts
  tsconfig.json
Due: stylelint --quiet --fix, prettier --write, eslint --quiet --fix

Router link
  src/app/app.module.ts
  src/app/custom-routing/custom-routing.module.ts
  src/app/spartacus/config/index.ts
  src/app/spartacus/config/routing.config.ts
  src/app/spartacus/spartacus-configuration.module.ts
  src/app/static-page/static-page.component.html
  src/app/static-page/static-page.component.ts
Due: prettier --write, eslint --quiet --fix

Extend CMS
  src/app/spartacus/cms-components/prf-banner/prf-banner.component.html
  src/app/spartacus/cms-components/prf-banner/prf-banner.component.scss
  src/app/spartacus/cms-components/prf-banner/prf-banner.component.spec.ts
  src/app/spartacus/cms-components/prf-banner/prf-banner.component.ts
  src/app/spartacus/cms-components/prf-banner/prf-banner.module.ts
  src/app/spartacus/cms-components/prf-cms-components.module.ts
  src/app/spartacus/config/index.ts
  src/app/spartacus/config/layout-config.ts
  src/app/spartacus/config/static-cms-structure.ts
  src/app/spartacus/features/cart/components/prf-cart-components.module.ts
  src/app/spartacus/features/cart/components/prf-mini-cart/prf-mini-cart.component.html
  src/app/spartacus/features/cart/components/prf-mini-cart/prf-mini-cart.component.scss
  src/app/spartacus/features/cart/components/prf-mini-cart/prf-mini-cart.component.spec.ts
  src/app/spartacus/features/cart/components/prf-mini-cart/prf-mini-cart.component.ts
  src/app/spartacus/features/cart/components/prf-mini-cart/prf-mini-cart.module.ts
  src/app/spartacus/features/cart/prf-cart.module.ts
  src/app/spartacus/features/news/components/prf-news-components.module.ts
  src/app/spartacus/features/news/components/prf-news/prf-news-component.module.ts
  src/app/spartacus/features/news/components/prf-news/prf-news.component.html
  src/app/spartacus/features/news/components/prf-news/prf-news.component.scss
  src/app/spartacus/features/news/components/prf-news/prf-news.component.spec.ts
  src/app/spartacus/features/news/components/prf-news/prf-news.component.ts
  src/app/spartacus/features/news/config/prf-news-i18n.config.ts
  src/app/spartacus/features/news/prf-news.module.ts
  src/app/spartacus/features/smartedit/smart-edit-feature.module.ts
  src/app/spartacus/spartacus-configuration.module.ts
  src/app/spartacus/spartacus-features.module.ts
  src/assets/i18n-assets/en/news.json
  src/environments/environment.ts
Due: stylelint --quiet --fix, prettier --write, eslint --quiet --fix

Show cms data
  src/app/spartacus/features/news/components/prf-news/prf-news-component.module.ts
  src/app/spartacus/features/news/components/prf-news/prf-news.component.html
  src/app/spartacus/features/news/components/prf-news/prf-news.component.ts
Due: prettier --write, eslint --quiet --fix

Override product styles
  src/app/spartacus/features/product/components/prf-product-components.module.ts
  src/app/spartacus/features/product/components/prf-product-info/prf-product-info.component.html
  src/app/spartacus/features/product/components/prf-product-info/prf-product-info.component.scss
  src/app/spartacus/features/product/components/prf-product-info/prf-product-info.component.spec.ts
  src/app/spartacus/features/product/components/prf-product-info/prf-product-info.component.ts
  src/app/spartacus/features/product/components/prf-product-info/prf-product-info.module.ts
  src/app/spartacus/features/product/components/prf-product-summary/prf-product-summary.component.html
  src/app/spartacus/features/product/components/prf-product-summary/prf-product-summary.component.scss
  src/app/spartacus/features/product/components/prf-product-summary/prf-product-summary.component.spec.ts
  src/app/spartacus/features/product/components/prf-product-summary/prf-product-summary.component.ts
  src/app/spartacus/features/product/components/prf-product-summary/prf-product-summary.module.ts
  src/app/spartacus/features/product/prf-product.module.ts
  src/styles.scss
Due: stylelint --quiet --fix, prettier --write, eslint --quiet --fix

Referred customers configuration
  src/app/spartacus/features/prf-referred-customers/components/prf-referred-customers-list/index.ts
  src/app/spartacus/features/prf-referred-customers/components/prf-referred-customers-split-banner/index.ts
  src/app/spartacus/features/prf-referred-customers/prf-referred-customers.module.ts
  src/app/spartacus/features/prf-referred-customers/root/config/index.ts
  src/app/spartacus/features/prf-referred-customers/root/config/layout-config.ts
  src/app/spartacus/features/prf-referred-customers/root/config/referred-customer-routing-config.ts
  src/app/spartacus/features/prf-referred-customers/root/feature-name.ts
  src/app/spartacus/features/prf-referred-customers/root/prf-referred-customers-root.module.ts
  src/app/spartacus/spartacus-features.module.ts
Due: prettier --write, eslint --quiet --fix

Referred customers configuration
  src/app/spartacus/features/prf-referred-customers/components/prf-referred-customers-components.module.ts
  src/app/spartacus/features/prf-referred-customers/components/prf-referred-customers-list/prf-referred-customers-list.component.html
  src/app/spartacus/features/prf-referred-customers/components/prf-referred-customers-list/prf-referred-customers-list.component.scss
  src/app/spartacus/features/prf-referred-customers/components/prf-referred-customers-list/prf-referred-customers-list.component.spec.ts
  src/app/spartacus/features/prf-referred-customers/components/prf-referred-customers-list/prf-referred-customers-list.component.ts
  src/app/spartacus/features/prf-referred-customers/components/prf-referred-customers-list/prf-referred-customers-list.module.ts
  src/app/spartacus/features/prf-referred-customers/components/prf-referred-customers-split-banner/prf-referred-customers-split-banner.component.html
  src/app/spartacus/features/prf-referred-customers/components/prf-referred-customers-split-banner/prf-referred-customers-split-banner.component.scss
  src/app/spartacus/features/prf-referred-customers/components/prf-referred-customers-split-banner/prf-referred-customers-split-banner.component.spec.ts
  src/app/spartacus/features/prf-referred-customers/components/prf-referred-customers-split-banner/prf-referred-customers-split-banner.component.ts
  src/app/spartacus/features/prf-referred-customers/components/prf-referred-customers-split-banner/prf-referred-customers-split-banner.module.ts
  src/app/spartacus/features/prf-referred-customers/prf-referred-customers-feature.module.ts
Due: stylelint --quiet --fix, prettier --write, eslint --quiet --fix

Move split view component to the global cms-components
  src/app/spartacus/cms-components/prf-cms-components.module.ts
  src/app/spartacus/cms-components/prf-split-banner/index.ts
  src/app/spartacus/cms-components/prf-split-banner/prf-split-banner.component.html
  src/app/spartacus/cms-components/prf-split-banner/prf-split-banner.component.scss
  src/app/spartacus/cms-components/prf-split-banner/prf-split-banner.component.spec.ts
  src/app/spartacus/cms-components/prf-split-banner/prf-split-banner.component.ts
  src/app/spartacus/cms-components/prf-split-banner/prf-split-banner.module.ts
  src/app/spartacus/features/prf-referred-customers/components/prf-referred-customers-components.module.ts
  src/app/spartacus/features/prf-referred-customers/components/prf-referred-customers-split-banner/index.ts
  src/app/spartacus/features/prf-referred-customers/components/prf-referred-customers-split-banner/prf-referred-customers-split-banner.component.ts
  src/app/spartacus/features/prf-referred-customers/root/prf-referred-customers-root.module.ts
Due: stylelint --quiet --fix, prettier --write, eslint --quiet --fix

Add split-view banner styles
  src/app/spartacus/cms-components/prf-split-banner/prf-split-banner.component.html
  src/app/spartacus/cms-components/prf-split-banner/prf-split-banner.component.scss
  src/app/spartacus/cms-components/prf-split-banner/prf-split-banner.component.ts
  src/app/spartacus/cms-components/prf-split-banner/prf-split-banner.module.ts
  src/app/spartacus/features/prf-referred-customers/root/config/layout-config.ts
  src/app/spartacus/models/custom-cms.model.ts
  src/styles/scss/layout/_index.scss
  src/styles/scss/layout/_layout.scss
Due: stylelint --quiet --fix, prettier --write, eslint --quiet --fix

Add split-view banner styles
  src/app/spartacus/cms-components/prf-split-banner/prf-split-banner.component.scss
  src/styles/scss/_root.scss
  src/styles/scss/components/_index.scss
  src/styles/scss/components/content/_index.scss
  src/styles/scss/components/content/media/_index.scss
  src/styles/scss/components/content/media/_media.scss
  src/styles/scss/themes/perficient-latam/components/layout/header/_site-context-selector.scss
Due: stylelint --quiet --fix, prettier --write

Adjust stylelint rules
  .stylelintrc
  src/styles/scss/_root.scss
Due: stylelint --quiet --fix, prettier --write

Create occ root and core modules for referred customers
  src/app/shared/shared.module.ts
  src/app/spartacus/cms-components/prf-split-banner/prf-split-banner.component.html
  src/app/spartacus/features/prf-referred-customers/components/prf-referred-customers-list/prf-referred-customers-list.component.html
  src/app/spartacus/features/prf-referred-customers/components/prf-referred-customers-list/prf-referred-customers-list.component.scss
  src/app/spartacus/features/prf-referred-customers/components/prf-referred-customers-list/prf-referred-customers-list.component.ts
  src/app/spartacus/features/prf-referred-customers/components/prf-referred-customers-list/prf-referred-customers-list.module.ts
  src/app/spartacus/features/prf-referred-customers/core/connectors/index.ts
  src/app/spartacus/features/prf-referred-customers/core/connectors/prf-referred-customer/index.ts
  src/app/spartacus/features/prf-referred-customers/core/connectors/prf-referred-customer/prf-referred-customer.adapter.ts
  src/app/spartacus/features/prf-referred-customers/core/facade/facade-providers.ts
  src/app/spartacus/features/prf-referred-customers/core/facade/prf-referred-customer.service.ts
  src/app/spartacus/features/prf-referred-customers/core/index.ts
  src/app/spartacus/features/prf-referred-customers/core/prf-referred-customer-core.module.ts
  src/app/spartacus/features/prf-referred-customers/index.ts
  src/app/spartacus/features/prf-referred-customers/occ/adapters/index.ts
  src/app/spartacus/features/prf-referred-customers/occ/adapters/occ-prf-referred-customer.adapter.service.ts
  src/app/spartacus/features/prf-referred-customers/occ/config/prf-referred-customers-endpoint-config.ts
  src/app/spartacus/features/prf-referred-customers/occ/models/index.ts
  src/app/spartacus/features/prf-referred-customers/occ/models/occ-referred-customer.model.ts
  src/app/spartacus/features/prf-referred-customers/occ/models/prf-augmented-referred-customer-endpoint.ts
  src/app/spartacus/features/prf-referred-customers/occ/prf-referred-customer-occ.module.ts
  src/app/spartacus/features/prf-referred-customers/prf-referred-customers.module.ts
  src/app/spartacus/features/prf-referred-customers/root/facade/prf-referred-customer-facade.ts
  src/app/spartacus/features/prf-referred-customers/root/index.ts
  src/app/spartacus/features/prf-referred-customers/root/models/ReferredCustomer.ts
  src/app/spartacus/features/prf-referred-customers/root/models/index.ts
  src/styles/scss/cxbase/_index.scss
  src/styles/scss/cxbase/block/_index.scss
  src/styles/scss/cxbase/block/card.scss
  src/styles/scss/layout/_index.scss
  src/styles/scss/layout/_layout.scss
  src/styles/scss/layout/_training-page-template.scss
Due: stylelint --quiet --fix, prettier --write, eslint --quiet --fix

Add normalizer
  src/app/spartacus/features/prf-referred-customers/core/connectors/prf-referred-customer/converters.ts
  src/app/spartacus/features/prf-referred-customers/occ/adapters/occ-prf-referred-customer.adapter.service.ts
  src/app/spartacus/features/prf-referred-customers/occ/converters/tc-referred-customer.normalizer.ts
  src/app/spartacus/features/prf-referred-customers/occ/models/occ-referred-customer.model.ts
  src/app/spartacus/features/prf-referred-customers/occ/prf-referred-customer-occ.module.ts
  src/app/spartacus/features/prf-referred-customers/root/models/ReferredCustomer.ts
Due: prettier --write, eslint --quiet --fix

Add commands and queries to referred customers
  .eslintrc.json
  src/app/spartacus/config/layout-config.ts
  src/app/spartacus/features/prf-referred-customers/components/prf-referred-customers-components.module.ts
  src/app/spartacus/features/prf-referred-customers/components/prf-referred-customers-list/prf-referred-customers-list.component.html
  src/app/spartacus/features/prf-referred-customers/components/prf-referred-customers-list/prf-referred-customers-list.component.scss
  src/app/spartacus/features/prf-referred-customers/components/prf-referred-customers-list/prf-referred-customers-list.component.ts
  src/app/spartacus/features/prf-referred-customers/components/prf-referred-customers-list/prf-referred-customers-list.module.ts
  src/app/spartacus/features/prf-referred-customers/components/prf-referred-customers/index.ts
  src/app/spartacus/features/prf-referred-customers/core/connectors/prf-referred-customer/prf-referred-customer.adapter.ts
  src/app/spartacus/features/prf-referred-customers/core/facade/prf-referred-customer.service.ts
  src/app/spartacus/features/prf-referred-customers/occ/adapters/occ-prf-referred-customer.adapter.service.ts
  src/app/spartacus/features/prf-referred-customers/occ/config/prf-referred-customers-endpoint-config.ts
  src/app/spartacus/features/prf-referred-customers/occ/models/prf-augmented-referred-customer-endpoint.ts
  src/app/spartacus/features/prf-referred-customers/occ/prf-referred-customer-occ.module.ts
  src/app/spartacus/features/prf-referred-customers/root/config/prf-referred-customers-i18n.config.ts
  src/app/spartacus/features/prf-referred-customers/root/events/prf-referred-customers-event.listener.ts
  src/app/spartacus/features/prf-referred-customers/root/events/prf-referred-customers-event.module.ts
  src/app/spartacus/features/prf-referred-customers/root/events/prf-referred-customers.events.ts
  src/app/spartacus/features/prf-referred-customers/root/facade/prf-referred-customer-facade.ts
  src/app/spartacus/features/prf-referred-customers/root/prf-referred-customers-root.module.ts
  src/app/spartacus/models/augment-launch.model.ts
  src/app/spartacus/models/index.ts
  src/app/spartacus/spartacus.module.ts
  src/assets/i18n-assets/en/referredCustomers.json
  src/styles/scss/themes/perficient-latam/_perficient-latam.scss
Due: stylelint --quiet --fix, prettier --write, eslint --quiet --fix

Add commands and queries to referred customers
  src/app/spartacus/features/prf-referred-customers/components/prf-referred-customers/prf-referred-customers.component.html
  src/app/spartacus/features/prf-referred-customers/components/prf-referred-customers/prf-referred-customers.component.scss
  src/app/spartacus/features/prf-referred-customers/components/prf-referred-customers/prf-referred-customers.component.spec.ts
  src/app/spartacus/features/prf-referred-customers/components/prf-referred-customers/prf-referred-customers.component.ts
  src/app/spartacus/features/prf-referred-customers/components/prf-referred-customers/prf-referred-customers.module.ts
Due: stylelint --quiet --fix, prettier --write, eslint --quiet --fix

Add adapter, and spinner to load elements
  src/app/spartacus/features/prf-referred-customers/components/prf-referred-customers-list/prf-referred-customers-list.component.html
  src/app/spartacus/features/prf-referred-customers/components/prf-referred-customers-list/prf-referred-customers-list.component.scss
  src/app/spartacus/features/prf-referred-customers/components/prf-referred-customers/prf-referred-customers.component.scss
  src/app/spartacus/features/prf-referred-customers/core/connectors/prf-referred-customer/index.ts
  src/app/spartacus/features/prf-referred-customers/core/connectors/prf-referred-customer/prf-referred-customers.adapter.ts
  src/app/spartacus/features/prf-referred-customers/core/connectors/prf-referred-customer/prf-referred-customers.connector.ts
  src/app/spartacus/features/prf-referred-customers/core/facade/prf-referred-customer.service.ts
  src/app/spartacus/features/prf-referred-customers/core/prf-referred-customer-core.module.ts
  src/app/spartacus/features/prf-referred-customers/occ/adapters/occ-prf-referred-customer.adapter.service.ts
  src/app/spartacus/features/prf-referred-customers/occ/prf-referred-customer-occ.module.ts
  src/app/spartacus/features/prf-referred-customers/root/facade/prf-referred-customer-facade.ts
Due: stylelint --quiet --fix, prettier --write, eslint --quiet --fix

Fix line getting the referred customers state
  src/app/spartacus/features/prf-referred-customers/components/prf-referred-customers-list/prf-referred-customers-list.component.ts
Due: prettier --write, eslint --quiet --fix
